<h1 class="text-center">New Task</h1>

<%= render 'form' %>

<dev class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
  	
	<%= link_to 'Back', tasks_path %>
  </div>
  <div class="col-md-4"></div>

</dev>